{
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "plugins": ["jsx-a11y"],
    "extends": [
      "airbnb",
      "plugin:prettier/recommended",
      "plugin:jest/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
      "import/no-unresolved": 0,
      "react/react-in-jsx-scope": 0,
      "react/jsx-filename-extension": 0,
      "import/prefer-default-export": 0,
      "import/no-extraneous-dependencies": [
        "error", {
           "devDependencies": false, 
           "optionalDependencies": false, 
           "peerDependencies": false, 
           "packageDir": "./"
        }
    ]
    }
  }
  