@import "./mixins.scss";

body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: $font-family;
  background-color: $background-color;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: '100%';
  text-align: 'centre';
  padding: 2rem;
}

.cards-deck {
  margin: 4rem 0 4rem 10em;
}
